<div class="container-fluid p-0" style="background-color: #f8f9fa;">
  <app-navbar></app-navbar>

  <div class="row g-0 m-0">
    <div 
      class="p-0"
      [class.col-lg-2]="!isSidebarCollapsed"
      [class.col-lg-1]="isSidebarCollapsed">
      <app-sidebar (collapsedChange)="onSidebarToggle($event)"></app-sidebar>
    </div>
    <div 
      class="p-4"
      style="background-color: #f8f9fa; min-height: 100vh;"
      [class.col-lg-10]="!isSidebarCollapsed"
      [class.col-lg-11]="isSidebarCollapsed">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-chat-bot></app-chat-bot>
</div>
