.custom-btn {
  background-color: #083c3e;
  color: white;
  border: none;
  width: 180px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.btn-delete{
    background-color: #ff0101;
  color: white;
  border: none;

  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.btn-delete:hover{
  background-color: #670407;
}
.custom-btninactive {
  background-color: #e6040b;  /* لون الزر الغير نشط */
  color: #ffffff;
   border: none;
  width: 120px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px; /* لون النص في الزر الغير نشط */

}

.custom-btn:hover {

  background-color: #3ac5ce;  /* لون وقت الـ hover */
}

td,th{
  text-align: center;
}
th {
  background-color: #083c3e;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.btn-edit{
   background-color: #083c3e;
  color: white;
  border: none;

  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.btn-edit:hover {

  background-color: #3ac5ce;  /* لون وقت الـ hover */
}
