<div class="mt-2 mb-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <button (click)="addcity()" class="custom-btn">Add City</button>
    </div>
    <div class="col-md-6 text-end">
      <input
        class="form-control d-inline-block w-75"
        type="text"
        placeholder="Search by governorate name..."
        (input)="onGovernorateSearchInput($event)"
      />
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-6">
    <input
      class="form-control w-75"
      type="text"
      placeholder="Search by city name..."
      (input)="onCitySearchInput($event)"
    />
  </div>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>City Name</th>
      <th>Governorate</th>
      <th>Shipping</th>
      <th>Pickup</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let city of filtered; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ city.name }}</td>
      <td>{{ city.goverrateName }}</td>
      <td>{{ city.pricePerKg }}</td>
      <td>{{ city.pickupCost }}</td>
      <td>
        <button
          class="btn"
          [ngClass]="city.isActive ? 'custom-btn' : 'custom-btninactive'"
          (click)="toggleCityStatus(city)"
        >
          {{ city.isActive ? "Active" : "Inactive" }}
        </button>
      </td>

      <td class="d-flex justify-content-center gap-2">
        <button class="btn-edit" title="Edit" (click)="editcity(city)">
          <i class="fas fa-edit" style="color: #ffffff"></i>
        </button>
        <button class="btn-delete" title="delete" (click)="deleteCity(city)">
          <i class="fas fa-trash" style="color: #ffffff"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="errormessage" class="alert alert-danger mt-3">
  {{ errormessage }}
</div>
<!-- Delete Confirmation Modal -->
<div
  class="modal fade"
  id="deleteConfirmModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete
        <strong>{{ selectedCity?.name }}</strong
        >?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="confirmDeleteCity()"
        >
          Yes, Delete
        </button>
      </div>
    </div>
  </div>
</div>
