.table-container {
  background-color: #ebfdff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  overflow-x: auto; 
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.custom-table thead {
  background-color: #083c3e;
  color: #ebfdff;
}

.custom-table th,
.custom-table td {
  padding: 12px;
  text-align: center; 
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  white-space: nowrap; 
}

.custom-table tbody tr:hover {
  background-color: rgb(179, 232, 234);
  transition: background-color 0.3s;
}

.pagination {
  margin-top: 16px;
  text-align: center;
}

.pagination button {
  margin: 0 4px;
  padding: 6px 12px;
  border: none;
  background-color: #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.pagination button:hover {
  background-color: #b3e8ea;
}

.pagination button.active {
  background-color: #13989b;
  color: white;
  font-weight: bold;
}
