<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="toggle-btn" (click)="toggleCollapse()">
    <i
      class="fas"
      [ngClass]="isCollapsed ? 'fa-chevron-right' : 'fa-chevron-left'"
    ></i>
  </div>
  <a *ngIf="userRole === 'Admin'" class="nav-link" routerLink="/AdminDashboard">
    <i class="fas fa-home"></i>
    <span *ngIf="!isCollapsed">Admin Dashboard</span>
  </a>
  <a
    *ngIf="userRole === 'Courier'"
    class="nav-link"
    routerLink="/CourierDashboard"
  >
    <i class="fas fa-home"></i>
    <span *ngIf="!isCollapsed">Courier Dashboard</span>
  </a>
  <a
    *ngIf="userRole === 'Trader'"
    class="nav-link"
    routerLink="/TraderDashboard"
  >
    <i class="fas fa-home"></i>
    <span *ngIf="!isCollapsed">Trader Dashboard</span>
  </a>
  <a *ngIf="userRole === 'Admin'" class="nav-link" (click)="toggleMenu('settings')">
    <i class="fas fa-cog"></i>
    <span *ngIf="!isCollapsed">Settings</span>
  </a>
  <div *ngIf="!isCollapsed && isMenuOpen('settings')" class="submenu">
    <a routerLink="/rejectionReasons">Rejection Reasons</a>
    <a routerLink="/weight">Weight Settings</a>
    <a routerLink="/shippingTypes">Shipping Types</a>
    <a routerLink="/Permissions">Permissions</a>
    <a routerLink="/branches">Branches</a>
    <a routerLink="/banks">Banks</a>
    <a routerLink="/saves">Saves</a>
  </div>
  <a *ngIf="userRole === 'Admin'" class="nav-link" (click)="toggleMenu('users')">
    <i class="fas fa-users"></i>
    <span *ngIf="!isCollapsed">Users</span>
  </a>
  <div *ngIf="!isCollapsed && isMenuOpen('users')" class="submenu">
    <a routerLink="/register">Admin</a>
    <a routerLink="/employees">Employees</a>
    <a routerLink="/traders">Merchants</a>
    <a routerLink="/couriers">Couriers</a>
  </div>
  <a *ngIf="userRole === 'Admin'" class="nav-link" (click)="toggleMenu('regions')">
    <i class="fas fa-map-marker-alt"></i>
    <span *ngIf="!isCollapsed">Regions</span>
  </a>
  <div *ngIf="!isCollapsed && isMenuOpen('regions')" class="submenu">
    <a routerLink="/governrates">Governorates</a>
    <a routerLink="/cities">Cities</a>
  </div>
  <a  *ngIf="userRole === 'Admin'" class="nav-link" routerLink="/orders">
    <i class="fas fa-shopping-bag"></i>
    <span *ngIf="!isCollapsed">Orders</span>
  </a>
  
  <a *ngIf="userRole === 'Admin'" class="nav-link" (click)="toggleMenu('accounts')">
    <i class="fas fa-wallet"></i>
    <span *ngIf="!isCollapsed">Accounts</span>
  </a>
  <div *ngIf="!isCollapsed && isMenuOpen('accounts')" class="submenu">
    <a routerLink="/bank-financialtransfer">Banks</a>
    <a routerLink="/safe-financialtransfer">Safes</a>
  </div>
  <a *ngIf="userRole === 'Admin'" class="nav-link" (click)="toggleMenu('orderReports')">
    <i class="fas fa-chart-bar"></i>
    <span *ngIf="!isCollapsed">Order Reports</span>
  </a>
  <div *ngIf="!isCollapsed && isMenuOpen('orderReports')" class="submenu">
    <a routerLink="/courier-orders-report">Courier Orders</a>
    <a routerLink="/orders/:id/history">By Status</a>
  </div>
  <a *ngIf="userRole === 'Courier'"class="nav-link" (click)="toggleMenu('Courier Orders')">
    <i class="fas fa-chart-bar"></i>
    <span *ngIf="!isCollapsed">Orders</span>
  </a>
  <div *ngIf="!isCollapsed && isMenuOpen('Courier Orders')" class="submenu">
    <a routerLink="/courierorders">My Orders</a>
    <a routerLink="/rejectedorder">Rejected Orders</a>
  </div>
  <a *ngIf="userRole === 'Trader'" class="nav-link" (click)="toggleMenu('Trader Orders')">
    <i class="fas fa-chart-bar"></i>
    <span *ngIf="!isCollapsed">Orders</span>
  </a>
  <div *ngIf="!isCollapsed && isMenuOpen('Trader Orders')" class="submenu">
    <a routerLink="/traderAddOrder">Add Order</a>
  </div>
</div>
